.red-bg {
  background-color: #a12846;
}

.orange-bg {
  background-color: #ee661e;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

body,
html,
#banner,
#slide-1,
#slide-2,
#slide-3,
#slide-4 {
  height: 600px;
  width: 300px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#banner {
  height: 600px;
  width: 300px;
  position: relative;

  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

#kids-logo {
  background-image: url('./kids-logo.png');
  width: 105px;
  height: 69px;

  position: absolute;
  top: 0px;
  left: 97px;
}

#white-block {
  width: 300px;
  height: 230px;
  background-color: #fff;

  position: absolute;
  bottom: 0px;
  left: 0px;

  -webkit-transition: height 500ms;
  transition: height 500ms;
}
  #button {
    width: 200px;
    height: 55px;

    background-image: url('./text-vyskusat.png');
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 45px;
    left: 50px;

    -webkit-transition: opacity 400ms linear 100ms, background-color 500ms linear 0ms;
    transition: opacity 400ms linear 100ms, background-color 500ms linear 0ms;
  }

  #zoot-logo {
    background-size: 100%;
    background-image: url('./zoot-logo.png');
    width: 186px;
    height: 50px;

    position: absolute;
    top: 137px;
    left: 61px;

    -webkit-transition: top 500ms, left 500ms, width 500ms, height 500ms;
    transition: top 500ms, left 500ms, width 500ms, height 500ms;
  }

#white-block.small {
  height: 50px;
}
  #white-block.small > #button {
    opacity: 0;
  }

  #white-block.small > #zoot-logo {
    width: 82px;
    height: 22px;

    position: absolute;
    top: 14px;
    left: 208px;
  }

#text-neplatite {
  background-image: url('./text-neplatite.png');
  width: 198px;
  height: 48px;

  position: absolute;
  top: 87px;
  left: 48px;
}

#monkey {
  background-image: url('./monkey.png');
  width: 109px;
  height: 219px;

  position: absolute;
  top: 152px;
  left: 92px;
}

#birds {
  background-image: url('./birds.png');
  width: 271px;
  height: 277px;

  position: absolute;
  top: 80px;
  left: 15px;
}

#girl {
  background-image: url('./girl.png');
  width: 242px;
  height: 506px;

  position: absolute;
  top: 94px;
  left: 26px;
}

#boy {
  background-image: url('./boy.png');
  width: 257px;
  height: 464px;

  position: absolute;
  top: 89px;
  left: 29px;
}
